
body {
  text-align: center;
  background-image: url("imgs/memory-card-front.png");
  background-repeat: repeat;
  background-size: 100%;
  background-color: #cccccc;
  color: white;
  font-family: Cinzel, sans-serif;
  font-size: 30px;
}

h1 {
  font-size: 70px;
}

img {
  height: 125px;
  width: 80px;
  border: 2px solid;
  border-color: rgba(255,255,255,1);
  border-radius: 12px;
  /*padding gave them space between the card
  and the border*/
  /*padding: 5px;*/
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(255,255,255,.5);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
}

/*SETTING THE WIDTH OF THE CARD CONTAINER IS KEY
FOR FORCING THE SPACE BETWEEN CARDS TO BE LIMITED
AND .card flex: 0 1 19% ensures 5 cards are on
each row*/

.front {
  flex: 0 1 19%;
}

.back {
  flex: 0 1 19%;
}